{% extends "default.html" %}
{% block title %}Firmware Component GUIDs{% endblock %}

{% block nav %}{% include 'component-nav.html' %}{% endblock %}

{% block content %}

  {% if md.fw.remote.name == 'stable' %}
  <div class="alert alert-danger mt-1" role="alert">
    This firmware has already been pushed to {{md.fw.remote.name}} and in this
    target no modifications are possible.
  </div>
{% elif md.fw.remote.name == 'testing' and md.check_acl('@modify-checksums') %}
  <div class="alert alert-warning mt-1" role="alert">
    This firmware has already been pushed to the {{md.fw.remote.name}} target (which is public)
    and so <strong>any modifications should be done very carefully</strong>.
  </div>
{% else %}
  <div class="alert alert-info mt-1" role="alert">
    A device with <em>any</em> of the GUIDs listed below will match this
    firmware component.
    Also <a href="https://lvfs.readthedocs.io/en/latest/metainfo.html#appstream-id">
    ensure the AppStream ID is unique</a> for this set of GUIDs.
  </div>
{% endif %}

<div class="card">
  <div class="card-body">
<h5>Component GUIDs</h5>
<table class="table card-text mt-3">
{% for gu in md.guids %}
  <tr class="row">
    <td class="col col-sm-5">
      <code>{{gu.value}}</code>
    </td>
    <td class="col col-lg-5 text-secondary">
      Added on {{gu.ctime.strftime('%F %T')}}
{% if gu.user %}
      by {{gu.user.username}}
{% endif %}
    </td>
    <td class="col col-sm-2 text-right">
{% if md.check_acl('@modify-appstream-id') %}
      <form action="{{url_for('components.route_guid_delete', component_id=gu.md.component_id, guid_id=gu.guid_id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="btn-block btn btn-warning">Remove</button>
      </form>
{% else %}
      <button class="btn-block btn btn-secondary" disabled="1">Remove</button>
{% endif %}
    </td>
  </tr>
{% endfor %}
{% if md.check_acl('@modify-appstream-id') %}
  <tr class="row table-borderless">
    <form class="form-inline" action="{{url_for('components.route_guid_create', component_id=md.component_id)}}" method="POST" >
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <td class="col col-sm-10">
        <input type="text" class="form-control fixed-width" name="value" placeholder="b0f340b1-361e-55f9-b691-bc46d0921ea8"/>
      </td>
      <td class="col">
        <input type="submit" class="btn btn-primary btn-block" value="Add"/>
      </td>
    </form>
  </tr>
{% endif %}
</table>
  </div>
</div>

{% endblock %}
