{% extends "default.html" %}
{% block title %}File System Checks{% endblock %}

{% block nav %}
{% include 'fsck-nav.html' %}
{% endblock %}

{% block content %}

<form action="{{url_for('fsck.route_fs')}}" method="POST">
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">
      Detect all FS issues.
    </h2>
    <p class="card-text">
      Detect and repair filesystem and database issues, for instance:
    </p>
    <ul>
      <li>
        Finding firmware that has gone missing from the download directory.
      </li>
      <li>
        Finding firmware that references the same on-dist resource.
      </li>
      <li>
        Attempt to sign all firmware that is pending.
      </li>
      <li>
        Fixing up the format of existing component issues, e.g.
        <code>Intel-TA-01234</code> to <code>INTEL-TA-01234</code>.
      </li>
      <li>
        Convert <code>metadata_license</code> and <code>project_license</code>
        values into standard types.
      </li>
    </ul>

    <div class="custom-control custom-switch mb-3">
      <input class="custom-control-input" type="checkbox" id="main_cachedir" name="Main::cachedir"/>
      <label class="custom-control-label" for="main_cachedir">
        Clean Cachedir
      </label>
    </div>
    <div class="custom-control custom-switch mb-3">
      <input class="custom-control-input" type="checkbox" id="analytics_claims" name="Analytics::claims"/>
      <label class="custom-control-label" for="analytics_claims">
        Analytics Claims
      </label>
    </div>
    <div class="custom-control custom-switch mb-3">
      <input class="custom-control-input" type="checkbox" id="client_delete" name="Client::delete"/>
      <label class="custom-control-label" for="client_delete">
        Client Delete
      </label>
    </div>
    <div class="custom-control custom-switch mb-3">
      <input class="custom-control-input" type="checkbox" id="client_useragent" name="Client::useragent"/>
      <label class="custom-control-label" for="client_useragent">
        Client Useragent
      </label>
    </div>
    <div class="custom-control custom-switch mb-3">
      <input class="custom-control-input" type="checkbox" id="user_disable" name="User::disable"/>
      <label class="custom-control-label" for="user_disable">
        User Disable
      </label>
    </div>
    <div class="custom-control custom-switch mb-3">
      <input class="custom-control-input" type="checkbox" id="user_vendor" name="User::vendor"/>
      <label class="custom-control-label" for="user_vendor">
        User Vendor Check
      </label>
    </div>
    <div class="custom-control custom-switch mb-3">
      <input class="custom-control-input" type="checkbox" id="user_subgroup" name="User::subgroup"/>
      <label class="custom-control-label" for="user_subgroup">
        User Subgroup
      </label>
    </div>
    <div class="custom-control custom-switch mb-3">
      <input class="custom-control-input" type="checkbox" id="user_duplicates" name="User::duplicates"/>
      <label class="custom-control-label" for="user_duplicates">
        User Duplicates
      </label>
    </div>
    <div class="custom-control custom-switch mb-3">
      <input class="custom-control-input" type="checkbox" id="protocol_update_message" name="Protocol::update-message"/>
      <label class="custom-control-label" for="protocol_update_message">
        Protocol update messages
      </label>
    </div>
    <div class="custom-control custom-switch mb-3">
      <input class="custom-control-input" type="checkbox" id="report_attrs" name="Report::attrs"/>
      <label class="custom-control-label" for="report_attrs">
        Report Attributes
      </label>
    </div>
    <div class="custom-control custom-switch mb-3">
      <input class="custom-control-input" type="checkbox" id="remote_regenerate" name="Remote::regenerate"/>
      <label class="custom-control-label" for="remote_regenerate">
        Remote Regenerate
      </label>
    </div>
    <div class="custom-control custom-switch mb-3">
      <input class="custom-control-input" type="checkbox" id="firmware_consistency" name="Firmware::consistency"/>
      <label class="custom-control-label" for="firmware_consistency">
        Firmware Revision Check Consistency <strong>Slow!</strong>
      </label>
    </div>
    <div class="custom-control custom-switch mb-3">
      <input class="custom-control-input" type="checkbox" id="firmware_signed_epoch" name="Firmware::signed-epoch"/>
      <label class="custom-control-label" for="firmware_signed_epoch">
        Firmware Check Signed Epoch
      </label>
    </div>
    <div class="custom-control custom-switch mb-3">
      <input class="custom-control-input" type="checkbox" id="firmware_check_exists" name="Firmware::check-exists"/>
      <label class="custom-control-label" for="firmware_check_exists">
        Firmware Check File Exists
      </label>
    </div>
    <div class="custom-control custom-switch mb-3">
      <input class="custom-control-input" type="checkbox" id="firmware_resign" name="Firmware::resign"/>
      <label class="custom-control-label" for="firmware_resign">
        Firmware Resign Unsigned Firmware
      </label>
    </div>
    <div class="custom-control custom-switch mb-3">
      <input class="custom-control-input" type="checkbox" id="firmware_release_properties" name="Firmware::release-properties"/>
      <label class="custom-control-label" for="firmware_release_properties">
        Firmware Release Properties
      </label>
    </div>
    <div class="custom-control custom-switch mb-3">
      <input class="custom-control-input" type="checkbox" id="firmware_revision_checksums" name="FirmwareRevision::checksums"/>
      <label class="custom-control-label" for="firmware_revision_checksums">
        Firmware Revision Checksums <strong>Slow!</strong>
      </label>
    </div>
    <div class="custom-control custom-switch mb-3">
      <input class="custom-control-input" type="checkbox" id="firmware_revision_size" name="FirmwareRevision::size"/>
      <label class="custom-control-label" for="firmware_revision_size">
        Firmware Revision Size
      </label>
    </div>
    <div class="custom-control custom-switch mb-3">
      <input class="custom-control-input" type="checkbox" id="firmware_check_archive" name="Firmware::check-archive"/>
      <label class="custom-control-label" for="firmware_check_archive">
        Firmware (check archive) <strong>Slow!</strong>
      </label>
    </div>
    <div class="custom-control custom-switch mb-3">
      <input class="custom-control-input" type="checkbox" id="firmware_report_totals" name="Firmware::report-totals"/>
      <label class="custom-control-label" for="firmware_report_totals">
        Firmware Report Totals
      </label>
    </div>
    <div class="custom-control custom-switch mb-3">
      <input class="custom-control-input" type="checkbox" id="component_update_descriptions" name="Component::update-descriptions"/>
      <label class="custom-control-label" for="component_update_descriptions">
        Component Update Descriptions
      </label>
    </div>
    <div class="custom-control custom-switch mb-3">
      <input class="custom-control-input" type="checkbox" id="component_version_format" name="Component::version-format"/>
      <label class="custom-control-label" for="component_version_format">
        Component Version Formats
      </label>
    </div>
    <div class="custom-control custom-switch mb-3">
      <input class="custom-control-input" type="checkbox" id="component_download_size" name="Component::download-size"/>
      <label class="custom-control-label" for="component_download_size">
        Component Download Size
      </label>
    </div>
    <div class="custom-control custom-switch mb-3">
      <input class="custom-control-input" type="checkbox" id="component_license" name="Component::license"/>
      <label class="custom-control-label" for="component_license">
        Component License
      </label>
    </div>
    <div class="custom-control custom-switch mb-3">
      <input class="custom-control-input" type="checkbox" id="component_category" name="Component::category"/>
      <label class="custom-control-label" for="component_category">
        Component Category
      </label>
    </div>
    <div class="custom-control custom-switch mb-3">
      <input class="custom-control-input" type="checkbox" id="component_requirement" name="Component::requirement"/>
      <label class="custom-control-label" for="component_requirement">
        Component Requirements
      </label>
    </div>
    <div class="custom-control custom-switch mb-3">
      <input class="custom-control-input" type="checkbox" id="component_keywords" name="Component::keywords"/>
      <label class="custom-control-label" for="component_keywords">
        Component Keywords
      </label>
    </div>
    <div class="custom-control custom-switch mb-3">
      <input class="custom-control-input" type="checkbox" id="component_update_message" name="Component::update-message"/>
      <label class="custom-control-label" for="component_update_message">
        Component Update Message Removal
      </label>
    </div>
    <div class="custom-control custom-switch mb-3">
      <input class="custom-control-input" type="checkbox" id="component_descriptions" name="Component::translations"/>
      <label class="custom-control-label" for="component_descriptions">
        Component Translations
      </label>
    </div>
    <div class="custom-control custom-switch mb-3">
      <input class="custom-control-input" type="checkbox" id="component_shard_checksum" name="ComponentShard::checksum"/>
      <label class="custom-control-label" for="component_shard_checksum">
        Component Shards Mod+Exp Checksum ACM Fixup <strong>Slow!</strong>
      </label>
    </div>
    <div class="custom-control custom-switch mb-3">
      <input class="custom-control-input" type="checkbox" id="component_shard_name" name="ComponentShard::name"/>
      <label class="custom-control-label" for="component_shard_name">
        Component Shards Name
      </label>
    </div>
    <div class="custom-control custom-switch mb-3">
      <input class="custom-control-input" type="checkbox" id="component_shard_info_name" name="ComponentShardInfo::name"/>
      <label class="custom-control-label" for="component_shard_info_name">
        Component Shard Infos Name
      </label>
    </div>
    <div class="custom-control custom-switch mb-3">
      <input class="custom-control-input" type="checkbox" id="component_shard_dedupe" name="ComponentShard::dedupe"/>
      <label class="custom-control-label" for="component_shard_dedupe">
        Component Shards Dedupe <strong>Slow!</strong>
      </label>
    </div>
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
    <input class="card-link btn btn-warning" type="submit" value="Go!"/>
  </div>
</div>
</form>

<form action="{{url_for('fsck.route_update_descriptions')}}" method="POST">
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">
      Update Description
    </h2>
    <p class="card-text">
      Replace text in the update description. Be careful!
    </p>
    <div class="form-group">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <input class="" type="text" name="search" value="" required/>
      →
      <input class="" type="text" name="replace" value="" required/>
    </div>
    <input class="card-link btn btn-warning" type="submit" value="Go!"/>
  </div>
</div>
</form>

<form action="{{url_for('fsck.route_eventlog_delete')}}" method="POST">
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">
      Eventlog delete
    </h2>
    <p class="card-text">
      Delete eventlog entries using <code>ILIKE Event.message</code>. Be careful!
    </p>
    <div class="form-group">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <input class="" type="text" name="value" value="" required/>
    </div>
    <input class="card-link btn btn-warning" type="submit" value="Go!"/>
  </div>
</div>
</form>

<form action="{{url_for('fsck.route_generate_stats')}}" method="POST">
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">
      Generate daily stats
    </h2>
    <p class="card-text">
      Generate stats for the last 30 days.
    </p>
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
    <input class="card-link btn btn-warning" type="submit" value="Go!"/>
  </div>
</div>
</form>

{% endblock %}
