{% extends "default.html" %}
{% block title %}Firmware Problems{% endblock %}

{% block nav %}
{% include 'firmware-nav.html' %}
{% endblock %}

{% block content %}

{% for problem in fw.problems %}
<div class="card mb-3">
  <div class="card-body">
    <h2 class="card-title">
      <img class="mr-2" src="{{url_for('cdn', filename='img/' + problem.icon_name + '-solid.svg')}}" width="22px" height="22px" />
{% if problem.md %}
      {{problem.summary}} for &lsquo;{{problem.md.name_with_category}}&rsquo;
      <span class="badge badge-pill badge-warning float-right">Prevents testing &amp; stable</span>
{% if not problem.allow_embargo %}
      <span class="badge badge-pill badge-danger float-right mr-3">Prevents embargo</span>
{% endif %}
{% else %}
      {{problem.summary}}
{% endif %}
    </h2>
{% if problem.description %}
    <p class="card-text">
      {{problem.description}}
    </p>
{% endif %}
{% if fw.mds|length > 1 %}
    <p class="card-text text-muted text-monospace">
      Component: {{problem.md.appstream_id}}
    </p>
{% endif %}
{% if problem.url %}
    <a class="btn btn-info card-link" href={{problem.url}}>Details</a>
{% endif %}
  </div>
</div>
{% endfor %}
{% endblock %}
