{% extends "default.html" %}
{% block title %}Tasks {{task_pgs.page}} of {{task_pgs.pages}}{% endblock %}
{% block nav %}{% include 'task-nav.html' %}{% endblock %}

{% block content %}

{% if not task_pgs %}
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Tasks</h2>
    <p class="card-text">
      No tasks have been created.
    </p>
  </div>
</div>

{% else %}

{% for task in task_pgs.items %}
<div class="card mt-3">
  <h2 class="card-header card-title list-group-item-{{task.color}}">
    <code>#{{task.task_id}} {{task.function}}</code>
    <span class="float-right"><code>{{task.caller}}</code></span>
  </h2>
  <div class="card-body">
    <table class="table">
      <tr class="row table-borderless">
        <th class="col-3">Creating User</th>
        <td class="col-9"><code>{{task.user.username}}</code></td>
      </tr>
{% if task.value %}
      <tr class="row">
        <th class="col-3">Value</th>
        <td class="col-9"><code>{{task.value}}</code></td>
      </tr>
{% endif %}
      <tr class="row">
        <th class="col-3">Priority</th>
        <td class="col-9">{{task.priority_description}}</td>
      </tr>
      <tr class="row">
        <th class="col-3">Created</th>
        <td class="col-9">{{task.created_ts.strftime('%F %T')}}</td>
      </tr>
{% if task.started_ts %}
      <tr class="row">
        <th class="col-3">Started</th>
        <td class="col-9">{{task.started_ts.strftime('%F %T')}}</td>
      </tr>
{% endif %}
{% if task.started_ts and task.ended_ts %}
      <tr class="row">
        <th class="col-3">Duration</th>
        <td class="col-9">{{format_humanize_naturaldelta(task.ended_ts - task.started_ts)}}</td>
      </tr>
{% endif %}
{% if task.container_id %}
      <tr class="row">
        <th class="col-3">Container</th>
        <td class="col-9"><code>{{task.container_id}}</code></td>
      </tr>
{% endif %}
{% if task.status %}
      <tr class="row">
        <th class="col-3">Status</th>
        <td class="col-9">
          {{task.status}}…
{% if task.percentage %}
          {{task.percentage}}%
{% endif %}
        </td>
      </tr>
{% elif task.is_running %}
      <tr class="row">
        <th class="col-3">Status</th>
        <td class="col-9">Processing…</td>
      </tr>
{% endif %}
    </table>
{% if task.attributes %}
    <ul class="card-text">
{% for attr in task.attributes %}
      <li class="list-group-item">
{% if task.started_ts and attr.created_ts %}
        <span class="float-right">| {{format_humanize_naturaldelta(attr.created_ts - task.started_ts)}}</span>
{% endif %}
{% if attr.message %}
        <code>{{attr.title}}: {{attr.message}}</code>
{% else %}
        <code>{{attr.title}}</code>
{% endif %}
      </li>
{% endfor %}
    </ul>
{% endif %}
{% if task.is_running %}
    <form action="{{url_for('tasks.route_cancel', task_id=task.task_id)}}" method="POST">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <button class="card-link btn btn-warning float-right mx-1">Cancel</button>
    </form>
{% else %}
    <form action="{{url_for('tasks.route_delete', task_id=task.task_id)}}" method="POST">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <button class="card-link btn btn-danger float-right mx-1">Delete</button>
    </form>
    <form action="{{url_for('tasks.route_retry', task_id=task.task_id)}}" method="POST">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <button class="card-link btn btn-warning float-right mx-1">Retry</button>
    </form>
{% endif %}
{% if task.url %}
    <a class="card-link btn btn-info float-right mx-1" href="{{task.url}}" role="button">Details &raquo;</a>
{% endif %}
  </div>
</div>
{% endfor %}

<!-- pagination -->
<nav aria-label="Page navigation">
  <ul class="pagination pagination-lg mt-3">
    <li class="page-item {% if task_pgs.page == 1 %}disabled{% endif %}">
      <a class="page-link" href="{{url_for('tasks.route_list', page=task_pgs.prev_num)}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
{% for page_num in task_pgs.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
    <li class="page-item {% if task_pgs.page == page_num %}active{% endif %}">
      <a class="page-link" href="{{url_for('tasks.route_list', page=page_num)}}">{{page_num}}</a>
    </li>
{% else %}
    <li class="page-item disabled"><a class="page-link">...</a></li>
{% endif %}
{% endfor %}
    <li class="page-item {% if task_pgs.page == task_pgs.pages %}disabled{% endif %}">
      <a class="page-link" href="{{url_for('tasks.route_list', page=task_pgs.next_num)}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>

{% endif %}

{% endblock %}
