{% extends "default.html" %}
{% block title %}Translations{% endblock %}

{% block content %}

<div class="card">
  <div class="card-body">
    <h2 class="card-title">Existing Translations</h2>
    <p class="card-text">
      Please co-ordinate with existing translator teams to avoid duplication of work.
    </p>
    <table class="table">
      <tr class="row">
        <th class="col col-lg-2">Locale</th>
        <th class="col col-lg-2">Strings</th>
        <th class="col col-lg-6">Name</th>
        <th class="col col-lg-2">&nbsp;</th>
      </tr>
{% for locale in locales %}
      <tr class="row">
        <td class="col col-lg-2"><code>{{locale}}</code></td>
        <td class="col col-lg-2">{{locales[locale]}}</td>
        <td class="col col-lg-5">{{format_locale(locale)}}</td>
        <td class="col col-lg-3"><a class="btn btn-info btn-block" href="{{url_for('.route_locale', locale=locale)}}">Generate XLIFF</a></td>
      </tr>
{% endfor %}
    </table>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Upload Translation</h2>
    <p class="card-text">
      Uploading files to the LVFS is covered by <a href="{{url_for('agreements.route_show')}}">our legal agreement</a>.
    </p>
    <form action="{{url_for('translations.route_upload')}}" method="post" enctype="multipart/form-data" class="form">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <div class="form-group">
        <label for="file-input">Select XLIFF 2.0 file</label>
        <input type="file" class="form-control-file" id="file-input" id="file" name="file" required/>
      </div>
      <input type="submit" class="btn btn-primary card-link" value="Upload"/>
    </form>
  </div>
</div>

{% endblock %}
