<nav class="row">
  <div class="col col-sm-1 btn-group mb-3">
    <a class="btn btn-falcon-default mr-sm-3"
      href="{{url_for('licenses.route_list')}}">
      <img class="fa" src="{{url_for('cdn', filename='img/arrow-left-solid.svg')}}" width="16px" height="16px" />
    </a>
  </div>
  <div class="col col-sm-10 text-center mb-3">
    <div class="btn-group" role="group">
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'licenses.route_show' else 'default'}}"
        href="{{url_for('licenses.route_show', license_id=lic.license_id)}}">Details</a>
      <a class="btn btn-falcon-{{'primary' if request.url_rule.endpoint == 'licenses.route_alias_list' else 'default'}}"
        href="{{url_for('licenses.route_alias_list', license_id=lic.license_id)}}">Alias Values</a>
    </div>
  </div>
</nav>
