<!DOCTYPE html>
<!-- Copyright 2018 Richard Hughes <richard@hughsie.com>
     SPDX-License-Identifier: GPL-2.0-or-later -->
<html lang="en">
  <head>
    <title>LVFS: Temporarily Unavailable</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link rel="stylesheet" href="{{url_for('cdn', filename='theme.css')}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div class="container">
      <div class="row flex-center text-center min-vh-100">
        <div class="col-sm-11 col-md-9 col-lg-7 col-xl-6 col-xxl-5"><a class="d-block text-center mb-4" href="/">
            <div class="d-inline-flex flex-center">
              <img class="mr-2" src="{{url_for('cdn', filename='avatar.png')}}" alt="" width="58" />
              <span class="text-sans-serif font-weight-extra-bold fs-5 d-inline-block">LVFS</span>
            </div>
          </a>
          <div class="card">
            <div class="card-body p-5">
              <p class="lead mt-4 text-800 text-sans-serif font-weight-semi-bold">Something went wrong!</p>
              <hr />
              <p class="card-text">
                Try refreshing the page, or going back and attempting the action again.
                If this problem persists, please <a href="{{config['TICKET_URL']}}">open an issue</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
