{% extends "default.html" %}
{% block title %}Analytics{% endblock %}

{% block content %}

<script src="{{url_for('cdn', filename='Chart.js')}}"></script>

<script>
Chart.defaults.global.animation = false;
</script>

<div class="card">
  <div class="card-body">
    <h2 class="card-title">
      <span>{{info.name}}</span>
      <code class="float-right">{{info.appstream_id}}</code>
    </h2>
    <canvas id="metadataChartUserAgents" width="1000" height="500"></canvas>
    <table class="table mt-3">
      <tr class="row">
        <th class="col col-3">HSI Result</th>
        <th class="col col-1">Count</th>
      </tr>
{% for result in data %}
      <tr class="row">
        <td class="col col-3"><code>{{result}}</code></td>
        <td class="col col-1">{{data[result]}}</td>
      </tr>
{% endfor %}
    </table>
  </div>
</div>

<script>
var ctx = document.getElementById("metadataChartUserAgents").getContext("2d");
const data = {
  labels: [
{% for ds in datasets %}
    '{{ds.label}}',
{% endfor %}
  ],
  datasets: [{
    data: [
{% for ds in datasets %}
    {{ds.value}},
{% endfor %}
    ],
    backgroundColor: [
{% for ds in datasets %}
    '#{{ds.color}}',
{% endfor %}
    ],
    hoverOffset: 4
  }]
};

new Chart(ctx, {
    type: 'pie',
    data: data
});

</script>

{% endblock %}
