{% extends "default.html" %}
{% block title %}Issue Details{% endblock %}

{% block nav %}{% include 'issue-nav.html' %}{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Issue Details</h2>
<form method="post" action="{{url_for('issues.route_modify', issue_id=issue.issue_id)}}">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
  <div class="form-group">
    <label for="url">URL:</label>
    <input type="text" class="form-control" id="url" name="url" value="{{issue.url}}" required {{'disabled' if not issue.check_acl('@modify')}}>
  </div>
  <div class="form-group">
    <label for="group_id">Vendor:</label>
    <input type="text" class="form-control" id="group_id" name="group_id" value="{{issue.vendor.group_id}}" disabled>
  </div>
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" name="name" value="{{issue.name}}" required {{'disabled' if not issue.check_acl('@modify')}}>
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <input type="text" class="form-control" id="description" name="description" value="{{issue.description}}" required {{'disabled' if not issue.check_acl('@modify')}}>
  </div>
  <div class="form-group">
    <label for="enabled">
      <input class="checkbox" type="checkbox" id="enabled" name="enabled" value="1" {{'checked' if issue.enabled}} {{'disabled' if not issue.check_acl('@modify')}}/>
      Enabled
    </label>
  </div>
{% if issue.check_acl('@modify') %}
  <input type="submit" class="card-link btn btn-primary" value="Save">
  <button type="button" class="card-link btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
{% endif %}
</form>
  </div>
</div>

<!-- modal dialog -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Really Delete Issue?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Once deleted, issues can not be recovered.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="{{url_for('issues.route_delete', issue_id=issue.issue_id)}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
          <button class="card-link btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
