{% extends "default.html" %}
{% block title %}Mirror Details{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h2 class="card-title">
      Mirror Details
    </h2>
<form method="post" action="{{url_for('mirrors.route_modify', mirror_id=mirror.mirror_id)}}">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" name="name" value="{{mirror.name if mirror.name}}" required />
  </div>
  <div class="form-group">
    <label for="uri">URI:</label>
    <input type="text" class="form-control" id="uri" name="uri" value="{{mirror.uri if mirror.uri}}" required />
  </div>
  <div class="form-group">
    <label for="enabled">
      <input class="checkbox" type="checkbox" id="enabled" name="enabled" value="1" {{'checked' if mirror.enabled}} />
      Mirror is enabled
    </label>
  </div>
  <div class="form-group">
    <label for="remove_deleted">
      <input class="checkbox" type="checkbox" id="remove_deleted" name="remove_deleted" value="1" {{'checked' if mirror.remove_deleted}} />
      Move removed files to the <code>deleted</code> local remote
    </label>
  </div>
  <div class="form-group">
    <label for="remote">Destination Remote:</label>
    <select class="form-control" name="remote_id">
      <option value="" {{ 'selected' if not mirror.remote }}>none</option>
{% for remote in remotes %}
      <option value="{{remote.remote_id}}" {{ 'selected' if mirror.remote == remote }}>
        {{remote.name}}
      </option>
{% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="auth_username">Authentication Username:</label>
    <input type="text" class="form-control" id="auth_username" name="auth_username"
           placeholder="info@fwupd.org"
           value="{{mirror.auth_username if mirror.auth_username}}" />
  </div>
  <div class="form-group">
    <label for="auth_token">Authentication Token:</label>
    <input type="text" class="form-control" id="auth_token" name="auth_token"
           placeholder="XA1A5ZV7R65FUZBZ"
           value="{{mirror.auth_token if mirror.auth_token}}" />
  </div>
  <div class="form-group">
    <label for="comment">Comment:</label>
    <textarea class="form-control" name="comment" id="comment" cols="100" rows="4">{{mirror.comment if mirror.comment}}</textarea>
  </div>
  <input type="submit" class="card-link btn btn-primary" value="Save">
  <button type="button" class="card-link btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
</form>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Current filters</h2>
<table class="table">
{% if mirror.filters|length %}
  <tr class="row table-borderless">
    <th class="col col-sm-5">Value</th>
    <th class="col col-sm-2">&nbsp;</th>
  </tr>
{% endif %}
{% for mirror_filter in mirror.filters %}
  <tr class="row">
    <td class="col col-sm-5"><code>{{mirror_filter.key}}</code></td>
    <td class="col col-sm-5"><code>{{mirror_filter.value}}</code></td>
    <td class="col col-sm-2">
      <form action="{{url_for('mirrors.route_filter_delete', mirror_id=mirror.mirror_id, mirror_tag_id=mirror_filter.mirror_tag_id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="btn-block btn btn-danger">Delete</button>
      </form>
    </td>
  </tr>
{% endfor %}
<form method="post" action="{{url_for('mirrors.route_filter_create', mirror_id=mirror.mirror_id)}}">
<input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
  <tr class="row table-borderless">
    <td class="col col-sm-5">
      <input type="text" class="form-control" name="key" value="" placeholder="tag..." required>
    </td>
    <td class="col col-sm-5">
      <input type="text" class="form-control" name="value" value="" placeholder="hughski-2023q1..." required>
    </td>
    <td class="col col-sm-2"><input type="submit" class="btn-block btn btn-primary" value="Add"></td>
  </tr>
</form>
</table>
  </div>
</div>

<!-- modal dialog -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Really Delete Mirror?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Once deleted, mirrors can not be recovered.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="{{url_for('mirrors.route_delete', mirror_id=mirror.mirror_id)}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
