{% extends "default.html" %}
{% block title %}Version Format Details{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Version Format Details</h2>
<form method="post" action="{{url_for('verfmts.route_modify', verfmt_id=verfmt.verfmt_id)}}">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
  <div class="form-group">
    <label for="value">Value:</label>
    <input type="text" class="form-control" id="value" name="value" value="{{verfmt.value}}" required />
  </div>
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" name="name" value="{{verfmt.name if verfmt.name}}" required />
  </div>
  <div class="form-group">
    <label for="example">Example (e.g. <code>12.34</code>):</label>
    <input type="text" class="form-control" id="example" name="example" value="{{verfmt.example if verfmt.example}}" />
  </div>
  <div class="form-group">
    <label for="fwupd_version">Lowest fwupd version (e.g. <code>1.3.3</code>):</label>
    <input type="text" class="form-control" id="fwupd_version" name="fwupd_version" value="{{verfmt.fwupd_version if verfmt.fwupd_version}}" />
  </div>
  <div class="form-group">
    <label for="fallbacks">Legacy fallback (e.g. <code>quad,intelme</code>):</label>
    <input type="text" class="form-control" id="fallbacks" name="fallbacks" value="{{verfmt.fallbacks if verfmt.fallbacks}}" />
  </div>
  <input type="submit" class="card-link btn btn-primary" value="Save">
  <button type="button" class="card-link btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
</form>
  </div>
</div>

<!-- modal dialog -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Really Delete Version Format?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        The LVFS might break if you remove version formats that firmware is using.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="{{url_for('verfmts.route_delete', verfmt_id=verfmt.verfmt_id)}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
