{% extends "default.html" %}
{% block title %}User Details{% endblock %}

{% block nav %}{% include 'user-nav.html' %}{% endblock %}

{% block content %}

<div class="alert alert-warning mt-1" role="alert">
  Be careful adding a single user to multiple vendors.
</div>

<div class="card">
  <div class="card-body">
<h5>Supplemental User Groups</h5>
<table class="table card-text mt-3">
{% for ug in u.groups|sort(attribute='vendor.display_name') %}
  <tr class="row">
    <td class="col col-sm-10">
      {{ug.vendor.display_name_with_team}}
    </td>
    <td class="col col-sm-2 text-right">
      <form action="{{url_for('users.route_group_delete', user_id=u.user_id, user_group_id=ug.user_group_id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
        <button class="btn-block btn btn-warning">Remove</button>
      </form>
    </td>
  </tr>
{% endfor %}
  <tr class="row table-borderless">
    <form class="form-inline" action="{{url_for('users.route_group_create', user_id=u.user_id)}}" method="POST" >
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <td class="col col-sm-10">
    <select class="form-control" name="vendor_id">
{% for v in possible_vendors %}
{% if not u.get_user_group(v.vendor_id) %}
      <option value="{{v.vendor_id}}" {{ 'selected' if v.vendor_id == u.vendor_id }}>
        {{v.display_name_with_team}}
      </option>
{% endif %}
{% endfor %}
    </select>
      </td>
      <td class="col">
        <input type="submit" class="btn btn-primary btn-block" value="Add"/>
      </td>
    </form>
  </tr>
</table>
  </div>
</div>

{% endblock %}
