{% extends "default.html" %}

{% block title %}Vendor Agreement{% endblock %}

{% block content %}

{% if agreement %}

<div class="card">
  <div class="card-body">
    <h2 class="card-title">Vendor Agreement with the LVFS</h2>
    <p class="card-text">
      {{agreement.text|safe}}
    </p>
  <p class="card-text">
    This text is referred to as &lsquo;Agreement Version {{agreement.version}}&rsquo;,
    and was modified on {{agreement.created.strftime('%F')}}.
  </p>
  <p class="card-text">
    Any changes to this agreement will force all user to re-agree to the new text
    when uploading new firmware files.
    Any planned changes will be discussed on the lvfs-announce
    <a href="https://subspace.kernel.org/lists.linux.dev.html">mailing list</a>.
  </p>
  </div>
</div>

{% else %}

<div class="card">
  <div class="card-body">
    <p class="card-text text-muted">
      No agreement has been created.
    </p>
  </div>
</div>

{% endif %}

{% endblock %}
